body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color:#8B4513;
    padding: 10px;
}
.nav-item {
    color: rgb(109, 13, 13);
    text-decoration: none;
    margin-right: 20px;
}

/* Jumbotron */
.jumbotron {
    background-color: rgb(109, 13, 13);
    width: 100%;
    padding: 20px;
    text-align: center;
}
.jumbotron h1, .jumbotron h3 {
    color: #333;
}

/* Facts section styling */
.facts-container {
    display: flex;
    align-items: flex-start;
}
.facts-list {
    background-color: #f9f4eb;
    border: 2px dotted rgb(109, 13, 13);
    padding: 15px;
    list-style: none;
}
.facts-list li {
    margin-bottom: 5px;
}
.facts-list .highlight {
    color: #e67e22;
    font-weight: bold;
}

/* Floating image styling */
.floatingEl {
    float: right;
    margin: 10px;
    max-width: 200px; /* Adjust size as needed */
}

/* Table styling */
table {
    border-collapse: collapse;
    font-size: 1.2em;
    width: 60%;
    margin: 0.55em;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:hover {
    background-color: #f2f2f2;
}
th {
    background-color: #d4a373;
    color: #fff;
}

/* General styling */
body {
    font-family: Arial, sans-serif;
}